/* style/Akun.css */
.form-login {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    /* Center the form */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    /* Transparent white background */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
    /* Center the content */
}

.bg-akun {
    background: linear-gradient(to right, #73ff00, #3cffe5);

}

.judul {
    transition: all 0.3s ease;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    /* Pusatkan judul */
}

.icon-input,
.password-input {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.input-icon {
    margin-right: 10px;
}

.password-icon {
    cursor: pointer;
    margin-left: -20px;
}

.login-register {
    text-align: center;
    margin-top: 15px;
    transition: opacity 0.3s ease-in-out;
}

.login-register a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.login-register a:hover {
    text-decoration: underline;
}